=begin
#DQT API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module OpenapiClient
  class TeachersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns teachers matching the specified criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email_address Email Address
    # @option opts [String] :first_name First name of person
    # @option opts [String] :middle_name Middle name of person
    # @option opts [String] :last_name Last name of person
    # @option opts [String] :previous_first_name Previous first name of person
    # @option opts [String] :previous_last_name Previous last name of person
    # @option opts [Date] :date_of_birth Date of birth of person
    # @option opts [String] :national_insurance_number National insurance number of person
    # @option opts [String] :itt_provider_name Name of teacher training provider
    # @option opts [String] :itt_provider_ukprn UKPRN of teacher training provider
    # @return [FindTeachersResponse]
    def v2_teachers_find_get(opts = {})
      data, _status_code, _headers = v2_teachers_find_get_with_http_info(opts)
      data
    end

    # Returns teachers matching the specified criteria
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email_address Email Address
    # @option opts [String] :first_name First name of person
    # @option opts [String] :middle_name Middle name of person
    # @option opts [String] :last_name Last name of person
    # @option opts [String] :previous_first_name Previous first name of person
    # @option opts [String] :previous_last_name Previous last name of person
    # @option opts [Date] :date_of_birth Date of birth of person
    # @option opts [String] :national_insurance_number National insurance number of person
    # @option opts [String] :itt_provider_name Name of teacher training provider
    # @option opts [String] :itt_provider_ukprn UKPRN of teacher training provider
    # @return [Array<(FindTeachersResponse, Integer, Hash)>] FindTeachersResponse data, response status code and response headers
    def v2_teachers_find_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeachersApi.v2_teachers_find_get ...'
      end
      # resource path
      local_var_path = '/v2/teachers/find'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = opts[:'email_address'] if !opts[:'email_address'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'middleName'] = opts[:'middle_name'] if !opts[:'middle_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'previousFirstName'] = opts[:'previous_first_name'] if !opts[:'previous_first_name'].nil?
      query_params[:'previousLastName'] = opts[:'previous_last_name'] if !opts[:'previous_last_name'].nil?
      query_params[:'dateOfBirth'] = opts[:'date_of_birth'] if !opts[:'date_of_birth'].nil?
      query_params[:'nationalInsuranceNumber'] = opts[:'national_insurance_number'] if !opts[:'national_insurance_number'].nil?
      query_params[:'ittProviderName'] = opts[:'itt_provider_name'] if !opts[:'itt_provider_name'].nil?
      query_params[:'ittProviderUkprn'] = opts[:'itt_provider_ukprn'] if !opts[:'itt_provider_ukprn'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FindTeachersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"TeachersApi.v2_teachers_find_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeachersApi#v2_teachers_find_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
